[Unit]
Description=NSQ Daemon
After=nsqlookupd.service
Wants=nsqlookupd.service

[Service]
ExecStart=/usr/local/bin/nsqd \
    --tcp-address=0.0.0.0:4150 \
    --http-address=0.0.0.0:4151 \
    --lookupd-tcp-address=127.0.0.1:4160 \
    --data-path=/var/lib/nsqd
ExecStartPre=/bin/mkdir -p /var/lib/nsqd
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=nsqd

[Install]
WantedBy=multi-user.target
